.noVariantProp {
  border: none;
}

.noRadiusProp {
  border-radius: none;
}

.noBackgroundProp {
  background-color: #868e96;
}

.noSizeProp {
  font-size: 16px;
}

.fourRadiusProp {
  border-radius: 4px;
}

.eightRadiusProp {
  border-radius: 8px;
}

.redBackgroundProp {
  background-color: #e64980;
}

.orangeBackgroundProp {
  background-color: #fd7e14;
}

.largeSizeProp {
  font-size: 20px;
}

.outlineVariantProp {
  outline-style: solid;
  border: 1px;
  background-color: #fff;
}

.uppercaseButton {
  text-transform: uppercase;
}
