.base {
  border: none;
  border-radius: 0;
  background-color: #868e96;
  font-size: 16px;
}

.variantOutline {
  outline-style: solid;
  border: 1px;
  background-color: #fff;
}

.borderRadiusFour {
  border-radius: 4px;
}

.borderRadiusEight {
  border-radius: 8px;
}

.backgroundColorRed {
  background-color: #e64980;
}

.backgroundColorOrange {
  background-color: #fd7e14;
}

.sizeLarge {
  font-size: 20px;
}

.uppercase {
  text-transform: uppercase;
}
